system:
You're an AI assistant reading the transcript of a conversation between a user and an 
assistant. Given the chat history, customer info, and user's query, infer user's intent expressed in the last query by the user.

Be specific in what the user is asking about but disregard the parts of the chat history and customer info that are not relevant to the user's intent.
For instance with a chat history like the below:

Example 1:

Customer Info:
```
azqr history:
- 2018-01-01 - Operational Excellence - Naming Convention (CAF) - ContainerRegistry Name should comply with naming conventions - https://learn.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/resource-abbreviations
```

Chat history:
```
```

User query:
```
what should I improve in my Azure resources?
```

Intent:
```
the user would like to know is what improvements can be applied to their Azure resources and where to find the documentation that explains it in detail
```

Example 2:

Customer Info:
```
order history:
- 2018-01-01 - Reliability - Virtual Machine should use managed disks - "https://learn.microsoft.com/en-us/azure/architecture/checklist/resiliency-per-service#virtual-machines"
```

Chat history:
```
user - I want to know the status of my Virtual Machine.
assistant - You could improve it by using managed disks, here is detailed information about this recommendation: https://learn.microsoft.com/en-us/azure/architecture/checklist/resiliency-per-service#virtual-machines
```

User query:
```
How does using managed disks improve the resilience of a virtual machine?
```

Intent:
```
The user wants to better understand why using managed disks will result in a better-designed virtual machine.
```

Here the case you should look at

Customer Info:
```
{% for item in customer.services %}
type: {{item.Type}}
location: {{item.Location}}
name: {{item.Service_Name}}
category: {{item.Security}}
subcategory: {{item.Subcategory}}
severity: {{item.Severity}}
recomendation: {{item.Description}}
link: {{item.Learn}}
{% endfor %} 
```

Chat history:
```
{% for item in chat_history %}
user - {{item.inputs.question}}
assistant - {{item.outputs.answer}}
{% endfor %}
```

User query:
```
{{query}}
```

Intent: