requests
python-dotenv
tiktoken
openai
promptflow
promptflow-tools
promptflow-azure
azure-cosmos
azure-search-documents
langchain
ipykernel 
keyrings.alt
unstructured
markdown
httpx==0.27.0
azure-ai-ml
azure-storage-blob[aio]
azure-ai-resources
azure-identity
azure-ai-textanalytics
azure-ai-generative
dataclasses-json>=0.5.7,<0.6.0
chainlit
pyyaml